---
---
@import "uno";
@import "tables";
@import "timeline";
@import "default";

/* Modifications */
pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius:100%;
}



.blog-wrapper * {
  @import "casper";
}

.blog-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
}

.blog-wrapper .post-header a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-break: break-word;
  line-height: 1.15em;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
  font-size: 2.25rem;
  font-weight: bold;
  background: transparent;
  transition: color ease 0.3s;
  text-decoration: none;
}

.blog-wrapper .post-excerpt p {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Merriweather", serif;
  font-feature-settings: "kern";
  letter-spacing: 0.00625rem;
  font-size: 1.0125em;
  color: #3A4145;
  word-break: break-word;
  display: inline;
}

.blog-wrapper .post-meta {
  font-size: 0.9375rem;
  line-height: 1.6875rem;
}

.blog-wrapper .post-date {
  font-size: 0.8125rem;
}

.blog-wrapper {
  .post, .pagination {
    margin: 2.5rem auto;
    padding-bottom: 2.5rem;
  }
}

.blog-wrapper {
  h1, h2, h3, h4, h5, h6 {
    line-height: 0.71875em;
  }

  .pagination {
    font-size: 0.8125rem;
    line-height: 2.42308em;
  }
}

