<!DOCTYPE html>
<html>
  {% include head.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css?{{site.time | date: '%s%N'}}">

  <body>
    <div class="cover-wrapper">
      {% include cover.html %}

      <div class="content-wrapper">
        <div class="content-wrapper__inner">
          {% include projects.html %}
        </div>
      </div>
    </div>

    <div id="blog" class="blog-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>